<div class="ol-rcp">
    <div class="ol-header">
        <div>
            <a class="ol-name" href="{{sourceUrl}}">{{title}}</a>
        </div>
        <div class="ol-info">
            <p id="ol-info">
                READY IN <b>{{readyInMinutes}}</b>
                <br>
                <br>
                <a class="saveit" href="/api/rcps/onlinercps/query/{{id}}"> SAVE IT </a>
            </p>
            
        </div>
    </div>
    <img alt="FOOD PIC" src="https://spoonacular.com/recipeImages/{{image}}" width="640px">
</div>



